html
   head
    meta(charset='utf-8')
    title Welcome to my website!
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='A cool thing made with Glitch')
    link#favicon(rel='icon', href='/images/favicon-96x96.png', type='image/png')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
   body
      header
       nav.navbar.navbar-expand-lg.navbar-light.bg-light
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/borrowing') Home 
          li.nav-item.active
            a.nav-link(href='') Mượn Sách
          li.nav-item.active
            a.nav-link(href='') Thông tin cá nhân
          form.form-inline.mt-0(action='/borrowing/searchBook', method='GET')
            input.form-control.mr-sm-2(type='search', name='q', placeholder='Search', aria-label='Search')
            button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
        ul.navbar-nav.ml-auto
          li
            if reader
             p.nav-link(href='#')= reader.nameUser
          li
            if !reader
             a.btn.btn-primary(href='/auth/login') Login
          li 
            a.btn.btn-outline-success(href='/logout') Log out
      main
        if errors
          each error in errors
            .alert.alert-danger= error
        h2 Mượn Sách
        .container.mt-3
          form(action="/borrowing/borrowBook", method="POST")
            .form-group.col-md-6
              label Mã Sách
              input.form-control(name='bookId', type='text', maxlength='100', value=values ? values.bookId : "")
              br

              button.btn.btn-primary(type='submit') Mượn Sách